<?php /** @var $block \Magento\Catalog\Block\Product\Image */?>
<span class="product-image-container"
      style="width:<?=/* @escapeNotVerified */$block->getWidth()?>px;">
    <span class="product-image-wrapper"
          style="padding-bottom: <?=/* @escapeNotVerified */($block->getRatio() * 100)?>%;">
        <img class="product-image-photo"
            <?=/* @escapeNotVerified */$block->getCustomAttributes();?>
            newimg = "<?=$block->getCustomImageUrl('catalog/product/s/a/saree3.jpg');?>"
            id = "<?=/* @escapeNotVerified */$block->getImgProductId()?>"
            src="<?=/* @escapeNotVerified */$block->getImageUrl()?>"
            width="<?=/* @escapeNotVerified */$block->getResizedImageWidth()?>"
            height="<?=/* @escapeNotVerified */$block->getResizedImageHeight()?>"
            alt="<?=/* @escapeNotVerified */$block->stripTags($block->getLabel(), null, true)?>"/>
    </span>
</span>
